*{margin:0}
body{
    background: #efefef center top no-repeat;
    clear: both;
    margin: 0 auto;
    width: 100%;
    min-width: 960px;
    overflow: scroll;
    background-attachment: fixed
}
ul{
    border: none;
    margin-left: 79px;
    margin-top: 113px;
}
ul li{
    border: none;
    list-style-type: none;
    line-height: 36px;
}
input::-webkit-input-placeholder{
    color: #cfcfcf;
}
.main{
    float: left;
    position: absolute;
    width: 1440px;
    height: 900px;
}
.top {
    float: left;
    position: fixed;
    left: 0px;
    top:0px;
    width: 100%;
    height: 86px;
    background-color: #ffffff;
    box-shadow: 0px 3px 5px 0px
    rgba(0, 0, 0, 0.1);
    z-index: 101;
}
.swen-news {
    float: left;
    margin-left: 123px;
    margin-top: 21px;
    cursor: pointer;
}
.newest{
    background: url("../images/selectedBg.png");
    background-repeat: no-repeat;
    background-position: bottom;
    width: 112px;
    padding-left: 15px;
    height: 54px;
    float: left;
    font-size: 24px;;
    position: absolute;
    margin-left: 85px;
    padding-top: 32px;
    margin-top: 0px;
    cursor: pointer;
}
.hot{
    background-repeat: no-repeat;
    background-position: bottom;
    width: 112px;
    padding-left: 15px;
    height: 54px;
    float: left;
    font-size: 24px;;
    position: absolute;
    margin-left: 213px;
    padding-top: 32px;
    margin-top: 0px;
    cursor: pointer;
}
.tagged{
    background-repeat: no-repeat;
    background-position: bottom;
    width: 112px;
    padding-left: 15px;
    height: 54px;
    float: left;
    font-size: 24px;;
    position: absolute;
    margin-left: 339px;
    padding-top: 32px;
    margin-top: 0px;
    cursor: pointer;
}
.user{
    float: left;
    position: absolute;
    margin-left: 969px;
    margin-top: 28px;
    cursor: pointer;
    width:33px;
    height:33px;
}
.new{
    position: fixed;
    right: 101px;
    bottom: 66px;
    cursor: pointer;
    /*margin-left: 1269px;*/
    /*margin-top: 678px;*/
}
.main_in_main{
    position: relative;
    top: 613px;
    margin-left: 119px;
    width: 1201px;
    /* height: 10px; */
    min-height:100px;
    background: #ffffff;
    box-shadow: 0px 3px 5px 0px
    rgba(0, 0, 0, 0.1);
    z-index: 100;
    /*background: url("../images/newsbg.png");*/
}
div.panel{
    display:none;
    float:left ;
    width: 120px;
    height:160px;
    background:#ffffff;
    border: none;
    /*border:solid 1px #c3c3c3;*/
    box-shadow: 0px 3px 5px 0px
    rgba(0, 0, 0, 0.1);
    position: relative;
    margin-top: 20px;
    margin-left:1245px ;
    z-index: 15;
}
.me{
    position: absolute;
    margin-top: -100px;
    margin-left: -100px;
    font-size: 20px;;
    cursor: pointer;
}
.my_news{
    position: absolute;
    margin-top: -50px;
    margin-left: -100px;
    font-size: 20px;
    cursor: pointer;
}
.exit{
    position: absolute;
    margin-top: 0px;
    margin-left: -100px;
    font-size: 20px;;
    cursor: pointer;
}

.news_type{
    position: absolute;
    margin-left: 0px;
    margin-top: 31px;
    width: 180px;
    height: 23px;
    font-family: SourceHanSansCN-Normal;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 28px;
    letter-spacing: 0px;
    color: #878787;
}
.news_title{
    float: left;
    position: absolute;
    margin-left: 0px;
    margin-top: 87px;
    width: 1000px;
    height: 33px;
    font-family: SourceHanSansCN-Bold;
    font-size: 32px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 28px;
    letter-spacing: 0px;
    color: #000000;
}
.news_content{
    position: absolute;
    margin-top: 147px;
    width: 972px;
    /* height: 168px; */
    font-family: SourceHanSansCN-Normal;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 36px;
    letter-spacing: 0px;
    color: #000000;
}
.user_name{
    position: absolute;
    margin-top:27px ;
    margin-left: 280px;
    width: 120px;
    height: 18px;
    font-family: SourceHanSansCN-Normal;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 36px;
    letter-spacing: 0px;
    color: #878787;
}
.date_time{
    position:absolute;
    margin-left: 20px;
    margin-top: 29px;
    width: 200px;
    height: 18px;
    font-family: SourceHanSansCN-Normal;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 36px;
    letter-spacing: 0px;
    color: #878787;
}
.head_icon{
    margin-left: 260px;
    margin-top: 35px;
    position: absolute;
    background: url("../images/head_icon.png");
    width: 17px;
    height: 17px;
}
.date_time_pic{
    margin-left: 0px;
    margin-top: 37px;
    position: absolute;
    width: 18px;
    height: 18px;
    background: url("../images/date_time.png");
}
.comment_pic{
    margin-left: 145px;
    margin-top: 29px;
    position: absolute;
    width: 19px;
    height: 19px;
    background: url("../images/comment.png");
}
.comment_amount{
    position:absolute;
    margin-left: 165px;
    margin-top: 29px;
    width: 200px;
    height: 18px;
    font-family: SourceHanSansCN-Normal;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 36px;
    letter-spacing: 0px;
    color: #878787;
    cursor: pointer;
}
.tags{
    z-index: 1;
    display: none;
    position: fixed;
    margin-top: 85px;
    width: 100%;
    height: 75px;
    background-color: #ffffff;
    box-shadow: 0px 3px 5px 0px
    rgba(0, 0, 0, 0.1);
}
.tags_t{
    z-index: 1;
    width: 42px;
    height: 21px;
    font-family: SourceHanSansCN-Light;
    font-size: 22px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 28px;
    letter-spacing: 0px;
    color: #474747;
    cursor: pointer;
}

.tag_ul{
    z-index: 1;
    width: 100%;
    overflow: hidden;
    margin-top: 0px;
    white-space:nowrap;
}
.tag_li{
    z-index: 1;
    margin-top: 20px;
    list-style: none;
    float: left;
    margin-left: 15px;
    width: 130px;
}
.comment_block{
    display: none;
    position: absolute;
    margin-top: -5px;
    margin-left: 168px;
    width: 1101px;
    height: 304px;
    background-color: #ffffff;
    box-shadow: -2px 6px 8px 0px
    rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    border: solid 1px rgba(0, 0, 0, 0.19);
    z-index: 10;
}
.comment_text{
    /*position: absolute;*/
    padding-left: 20px;
    margin-top: 33px;
    margin-left: 48px;
    width: 872px;
    height: 43px;
    border-radius: 6px;
    border: solid 2px #efefef;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
}
.comment_btn{
    /*position: absolute;*/
    padding-left: 20px;
    padding-top:11px;
    display:inline-block;
    margin-top: 33px;
    margin-left: 36px;
    width: 63px;
    height: 40px;
    background-color: #ff6f79;
    border-radius: 3px;
    font-size: 22px;
    color: #ffffff;
    cursor: pointer;
}
.comment_head_icon{
    /*background: url("../images/create_bg.png");*/
    /*background: url("../user/avatar/0.jpg");*/
    /*margin-top: 50px;*/
    width: 27px;
    height: 27px;
    float: left;
}
.comment_user_name{
    font-size: 18px;
    margin-left: 25px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 36px;
    letter-spacing: 0px;
    color: #5f5e5e;
}
.comment_content{
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 36px;
    letter-spacing: 0px;
    color: #000000;
}
.comment_main_block{
    position: absolute;
    margin-left: 15px;
    margin-top: 30px;
    /*cursor: wait;*/
    /*background: #006eb0;*/
}
.comment_ul{
    margin-left: 0;
    margin-top: 0;
    /*background: #03329c;*/
}
.comment_li{
    margin-top: 15px;
    /*background: #4cabef;*/
}
.comment_input{
}