<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>登录</title>
    <script src="../static/js/jquery-3.3.1.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/login_style.css" />
    <script src="../static/js/node_modules/particles.js/particles.js"></script>
    <script type="text/javascript" src="../static/js/login.js"></script>
    <link rel="stylesheet" media="screen" href="../static/js/node_modules/particles.js/demo/css/style.css">
    <link rel="stylesheet" href="../static/js/node_modules/izitoast/dist/css/iziToast.min.css">
    <script src="../static/js/node_modules/izitoast/dist/js/iziToast.min.js" type="text/javascript"></script>
</head>
<body>

<div class="count-particles"></div>
    <!--<span class="js-count-particles">&#45;&#45;</span>-->


<div class="main" id="particles-js">
    <div class="main_block">
        <ul id="loginForm">
            <li><img class="swen" src="../static/images/SwenNews.png"></li>
            <li><input name="loginName" type="text" id="loginName" placeholder="用户名/邮箱" class="SearchKeyword"></li>
            <li><input type="password" name="Password" id="Password" placeholder="密码" class="SearchKeyword2"></li>
            <li><button class="tijiao" onclick="signIn(this.form)" id="signIn">登录</button></li>
            <li><span class="zhuce">没有账户？<a href="register.html">注册</a></span></li>
        </ul>
    </div>
</div>
<script src="../static/js/node_modules/particles.js/particles.js"></script>
<script src="../static/js/node_modules/particles.js/demo/js/app.js"></script>
</body>
</html>

